prop
{
	imgsel: ;
	visible:1;
	lmargin:0;
	tmargin:0;
	width:96%;
	labelwidth:7;
	labelbox:false;
	fontsize:10;
	text-fontsize:8;
	text-border:false;
	forecolor:#ff00ff;
	text-forecolor:#ff00ff;
	text-forecolor-disabled:#ff00ff;
	/*combo*/
	img-spinner:bt_Arrow_down.png;
    img-spinner-sel:bt_Arrow_down_Sel.png;
    /*busqueda*/
    img-search:bt_Lupa.png;
    img-search-sel:bt_Lupa_sel.png;
    /*delete*/
    img-delete:bt_Delete.png;
    img-delete-sel:bt_Delete_sel.png;
    /*deshacer*/
    img-undo:undo.png;
    img-undo-sel:undo_click.png;
    /*Telefono*/
    img-phone:bt_Phone.png;
    img-phone-sel:bt_Phone_sel.png;
    /*Fecha*/
    img-date:bt_Date.png;
    img-date-sel:bt_Date_sel.png;
    /*tiempo*/
    img-time:bt_Time.png;
    img-time-sel:bt_Time_sel.png;
    /*check*/
    img-checked:bt_check.png;
    img-width:96p;
    img-height:96p;
    img-checked-disabled:bt_check_disabled.png;
    /*uncheck*/
    img-unchecked:bt_uncheck.png;
    img-unchecked-disabled:bt_uncheck_disabled.png;    
    undo-button:false;
    lines:1;
    fixed-lines:false;
    text-bgcolor-focus:#FFFFFF;
    autosave: true;
    bgcolor: #ff0000;

}
