.info
{
    alpha1:100% - FF,95% - F2,90% - E6,85% - D9,80% - CC,75% - BF,70% - B3,65% - A6,60% - 99,55% - 8C;
    alpha2: 50% - 80,45% - 73,40% - 66,35% - 59,30% - 4D,25% - 40,20% - 33,15% - 26,10% - 1A, 5% - 0D;
}

coll
{
	notab:true;
	group-swipe:false;
	dependent:false;
	check-owner:false;
	show-toolbar:false;
	cell-border-color:#00000000;
	cell-border-width:0;
	cell-selected-bgcolor:#00000000;
	editmask:0;	
	cell-bgcolor:#F2F2F2;
	show-selected-item:false;
	selected-item-start-index:-1;
	animation-in:"##RIGHT_IN_IN##";
	animation-out:"##RIGHT_OUT##";
}

prop
{
	imgsel: ;
	visible:1;
	lmargin:0;
	tmargin:0;
	width:96%;
	labelwidth:7;
	labelbox:false;
	fontsize:10;
	text-fontsize:8;
	text-border:false;
	forecolor:#666666;
	text-forecolor:#333333;
	text-forecolor-disabled:#909090;
	/*combo*/
	img-spinner:bt_Arrow_down.png;
    img-spinner-sel:bt_Arrow_down_Sel.png;
    /*busqueda*/
    img-search:bt_Lupa.png;
    img-search-sel:bt_Lupa_sel.png;
    /*delete*/
    img-delete:bt_Delete.png;
    img-delete-sel:bt_Delete_sel.png;
    /*deshacer*/
    img-undo:undo.png;
    img-undo-sel:undo_click.png;
    /*Telefono*/
    img-phone:bt_Phone.png;
    img-phone-sel:bt_Phone_sel.png;
    /*Fecha*/
    img-date:bt_Date.png;
    img-date-sel:bt_Date_sel.png;
    /*tiempo*/
    img-time:bt_Time.png;
    img-time-sel:bt_Time_sel.png;
    /*check*/
    img-checked:bt_check.png;
    img-width:96p;
    img-height:96p;
    img-checked-disabled:bt_check_disabled.png;
    /*uncheck*/
    img-unchecked:bt_uncheck.png;
    img-unchecked-disabled:bt_uncheck_disabled.png;    
    undo-button:false;
    lines:1;
    fixed-lines:false;
    text-bgcolor-focus:#FFFFFF;
    autosave: true;
}

.datosContacto
{
	width:80%;
	extends:prop;
	lmargin:50p;
	tmargin:30p;
	rmargin:30p;
	fontsize:6;
	labelbox:false;
	labelwidth:7;
}

.texteditlocked
{
	extends:prop;
	labelwidth:7;
	tmargin:5p;	
	text-border:true;
	locked:true;
	label-wrap:true;
}

.campoCombo
{
	extends:prop;
	labelwidth:5;
	width:600p;
	tmargin:50p;
	bmargin:50p;
	text-border:true;
	img-search:combo.png;
	img-search-sel:combosel.png;
}

/********************************************************* */
/*                    ANIMACIONES                          */
/********************************************************* */

.FrameAnimateFromTop
{
	animation-in-delay:500;
	animation-out-delay:500;
 
	/* Entra y sale por arriba. */
	animation-in:##PUSH_DOWN_IN##;		/* Aparece por arriba */
	animation-out:##PUSH_OUT##;		/* Se va por arriba */
}
 
.FrameAnimateFromBottom
{
	xanimation-in-delay:500;
	xanimation-out-delay:500;
 
	/* Entra y sale por abajo. */
	xanimation-in:##PUSH_IN##;		/* Aparece por abajo */
	xanimation-out:##PUSH_DOWN_OUT##; 	/* Se va por abajo */
}
 
.FrameAnimateFromRight
{
	animation-in-delay:500;
	animation-out-delay:500;
 
	/* Entra y sale por la derecha. */
	animation-in:##RIGHT_IN##;
	animation-out:##LEFT_OUT##;
}
 
.FrameAnimateFromLeft
{
	animation-in-delay:500;
	animation-out-delay:500;
 
	/* Entra y sale por la izquierda. */
	animation-in:##LEFT_IN##;
	animation-out:##RIGHT_OUT##;
}
 
.FrameAnimateRotate3D
{
	animation-in-delay:500;
	animation-out-delay:500;
 
	/* Entra y sale rotando en 3D. */
	animation-in:##ROTATE3D_IN##;
	animation-out:##ROTATE3D_OUT##;
}
 
.FrameAnimateAlpha
{
	animation-in-delay:500;
	animation-out-delay:500;
 
	/* Aparece y desaparece;. */
	animation-in:##ALPHA_IN##;
	animation-out:##ALPHA_OUT##;
 
	/* ZOOM. */
	animation-in:##ZOOM_IN##;
	animation-out:##ZOOM_OUT##;
}
 
.FrameAnimateZoom
{
	animation-in-delay:500;
	animation-out-delay:500;
 
	/* ZOOM. */
	animation-in:##ZOOM_IN##;
	animation-out:##ZOOM_OUT##;	
}

prop:Z
{
	extends:prop;
	bgcolor:#F2F2F2;
	width:96%;
	lmargin:2%;
	tmargin:2%;
}

prop:AT
{
    img-att:bt_attach.png;
    img-att-sel:bt_attach_sel.png;
}

prop:PH
{
    img-camera:bt_camera.png;
    img-camera-sel:bt_camera_sel.png;
}
 
prop:B
{
	extends:prop;
	forecolor:#000000;
	bgcolor:#cccccc;
    img-sel: ;
}

prop:IMG
{
    labelwidth:0;
    img-sign:bt_Firma.png;
    img-sign-sel:bt_Firma_sel.png;
}
 
prop:VD
{
    img-video:bt_video.png;
    img-video-sel:bt_video_sel.png;
}

.frmtodo
{
	width:100%;
	height:100%;
	bgcolor:#333333;
	scroll:true;
}


.frmsuperior
{
	width:100%;
	height:120p;
	bgcolor:##FLD_MAP_COLORACTIVO##;
	align:left|center;
}

.btsalirsuper {
	extends:prop;
	labelwidth:0;
	tmargin:0;
	lmargin:12p;
	width:90p;
	img:salir.png;
	method:ExecuteNode(onback);
}

.btvolversuper {
	extends:.btsalirsuper;
	img:volver.png;
}

.tlsuper
{
	extends:prop;
	width:530p;
	height:100%;
	labelwidth:1;
	tmargin:0;
	lmargin:0;
	labelbox:false;
	align:center;
	newline:false;
	forecolor:#F2F2F2;
	fontbold:true;
	fontsize:16;
}

.btmenuicon
{
	extends:prop;
	labelwidth:0;
	width:90p;
	img:opciones.png;
	newline:false;
}

.classgrid
{
	visible:4;
	width:96%;
	lmargin:2%;
	text-forecolor:#333333;
	labelwidth:0;
	textfont-size:10;
	text-border:false;
}

.classprop
{
	extends:prop;
	lmargin:2%;	
	tmargin:5p;	
	text-border:true;
	text-border-left:false;
	text-border-right:false;
	text-border-bottom:true;
	text-border-top:false;
}

.classtl
{
	extends:.classprop;
	labelbox:true;
	width:96%;
	align:center;
	bgcolor:#F2F2F2;
}


.classT
{
	extends:.classprop;
}

.classTsinborde
{
	extends:.classprop;
	text-border:false;
}
.classTMultiline
{
	extends:.classprop;
	lines:3;
	fixed-lines:true;
}

.classnumber
{
	extends:.classprop;
}


.classdate
{
	extends:.classprop;
}


.classtime
{
	mask:Hh#:#Mm;
	extends:.classprop;
}


.classcheck
{
	extends:.classprop;
	labelwidth:30;
	XXXwidth:100%;
	bgcolor:#00FF00;
	apply-css:false;
}



.contentgridview
{
	bgcolor:#F2F2F2;
	viewmode:gridview;
	gallery-columns:3;
	
}

.loginProp
{
	labelbox:false;
	labelwidth:0;
	forecolor:#FFFFFF;
	undo-button:false;
	width:100%;
	fontsize:9;
	tmargin:5%;
}

.loginButton
{
	forecolor:#0F4B7D;
	width:30%;
	labelwidth:40;
	tmargin:10%;
}

.menuButton
{
	width:40%;
	height:13%;
	fontsize:8;
	forecolor:#FFFFFF;
	labelwidth:1;
	fontbold:true;
	bgcolor:#00FFFFFF;
	label-wrap:true;
	tmargin:4%;
	labelbox:true;
}

.btnButton
{
    extends:prop:B;
	visible:1;
	align:center;
	width:300p;
	height:100p;
	fontsize:9;
	labelwidth:1;
	fontbold:true;
	label-wrap:true;
	tmargin:20p;
	lmargin:30p;
}

.btinferior
{
	forecolor:#FFFFFF;
	bgcolor:#00000000;
	width:30%;
	lmargin:2%;
	height:100%;
	labelwidth:1;
	fontbold:true;
	fontsize:9;
}


.Firma_Dibujo_boton
{
	lmargin:20px;
	width:128px;
	height:128px;
	labelwidth:0;
	newline:false;
}


/* Estilos ventana MSGBOX Personalizada */


 
.msgboc{
	extends:prop;
	tmargin:0p;
	lmargin:0;
	fontsize:15;
	text-forecolor-disabled:#FFFFFF;
	width:90%;
	labelwidth:0;
	align:center;
}

.msgbox_mensaje 
{
	extends:prop;
	tmargin:0p;
	lmargin:0;
	fontsize:13;
	text-forecolor-disabled:#4B4D4F;
	width:90%;
	labelwidth:0;
	text-align:center;
	lines:5;
} 

.msgbox_boton
{
	extends:prop;
	tmargin:0p;
	lmargin:0;
	bmargin:0;
	labelwidth:1;
	forecolor:#000000;
	width:100p;



	height:170p;
	tpadding:100p;
}

/* Estilos Calendario Contents */

.z_calendario
{
	extends:prop;
	forecolor:#FFFFFF;
	bgcolor:#00000000;
	align:center;
	fontsize:10;
	cell-bgcolor:#68008CFF;
	cell-forecolor:#000000;
	cell-border-width:2;
	cell-align:center;
	cell-border-color:#00000000;
	cell-other-month-bgcolor:#39767676;
	cell-selected-bgcolor:#00000000;
	cell-selected-forecolor:#0000CC;
	cell-selected-border-color:#0000CC;
	weekdays-bgcolor:#00000000;
	weekdays-forecolor:#000000;
	weekdays-fontsize:4;
	weekdays-longname:true;
	weekdays-align:top|left;
	border-width:2;
	textfont-bold:true;
	page-swipe:true;
	border:false;
}


.fCalendario {
	width:94%;	
	height:40%; 
	lmargin:3%;
}

.titleCal {
	extends:prop;
	visible:1;
	locked:true;
	text-forecolor-disabled:#333333;
	text-border:false;
	align:center;
	width:50%;
	labelwidth:0;
	fontbold:true;
	fontsize:12;
	tmargin:2p;
}

.botonesCal {
	extends:prop;
	width:20%;
	height:45%;
	lmargin:4%;
	newline:false;
}


.menufijo {
	extends:prop;
	height:144p;
	width:144p;
	newline:false;
}

.drawer {
	extends:prop;
	bgcolor:#000000;
	fontsize:10;
	forecolor:#FFFFFF;
	width:500p;
	height:120p;
}
.framedrawer {
	extends:prop;
	width:100%;
	height:120p;
}

.icondrawer {
	extends:prop;
	height:90p;
	width:90p;
	newline:false;
}

.botondrawer {
	extends:prop;
	bgcolor:#00000000;
	forecolor:#FFFFFF;
	width:460p;
	lmargin:0;
	fontsize:10;
	height:120p;
	newline:false;
}

.frameopciondrawer {
	extends:prop;
	width:100%;
	height:110p;
	framebox:false;
}

.framesubopciondrawer {
	extends:prop;
	width:100%;
	framebox:false;
	bgcolor:#EEEEEE;
	align:left;
}

.icondrawer {
	extends:prop;
	height:90p;
	width:90p;
}

.botondrawer {
	extends:prop;
	bgcolor:#00000000;
	forecolor:#FFFFFF;
	width:460p;
	lmargin:0;
	fontsize:10;
	height:110p;
	newline:false;
}

.botonsubopciondrawer {
	extends:prop;
	forecolor:#333333;
	bgcolor:#00000000;
	width:460p;
	lmargin:90p;
	fontsize:10;
	height:70p;
	align:left;
}

/*fotos*/
.etiquetaazul
{	
	labelbox:true;
	bgcolor:#0099FF;
	forecolor:#000000;
	text-forecolor:#000000;
	text-bgcolor:#FFFFFF;
	labelfont-bold:true;
	labelshadow:false;
	text-bgcolor-disabled:#D8D8D8; 
}

.numparte
{	
	labelbox:false;
	bgcolor:#FFFFFF;
	forecolor:#000000;
	text-forecolor:#000000;
	text-bgcolor:#FFFFFF;
	labelfont-bold:true;
	labelshadow:false;	
	labelwidth:false;
	fieldsize:8;
	size:8;
	fontbold:true;
	fontsize:10;
	textfont-bold:true;
	lmargin:12;
	labelwidth:0;
	text-border:false;
	locked:true;
	locking:true;
}

.footer{
    width:100%;
    height:120p;
}

.header{
    width:100%;
    height:120p;
}

.groupfixed_header{
    extends:.header;
    fixed:true;
    orientation:top;
}

.groupfixed_footer{
    extends:.footer;
    fixed:true;
    orientation:bottom;
}

.mClassT{
    extends:.classT;
    width:680p;
    lmargin:0;
    height:80p;
    tmargin:0p;
    labelwidth:0;
}

.alineacion{
    align:center;
}
.color{
    bgcolor:#0000ff;
}


.mClassT{
    extends:.classT;
    width:680p;
    lmargin:0;
    height:80p;
    tmargin:0p;
    labelwidth:0;
}
.mClassTL{
    extends:.classtl;
    width:680p;
    lmargin:0;
    height:60p;
    tmargin:20p;
    labelbox:false;
    bgcolor:#00000000;
    align:left|center;
}

.xnTituloTNoFixedHeightAjustesC{
    extends:.xnTituloTNoFixedHeightAjustes;
    forecolor:#666666;
}

.clsmapview {
    viewmode:mapview;
    mapview-embedded:true;
    clear-lines-on-refresh:false;
    clear-markers-on-refresh:false;
    show-pois:false;
    zoom-to-my-location: true;
}